.challenge {
   padding-top: 34px;
   padding-bottom: 82px;
   background: url('../img/dist/challange-bg.webp') no-rpeat center;
   background-size: cover;
}
.challenge-container {
   padding: 0 30px;
   position: relative;
}

.challenge-container::after {
   content: '';
   position: absolute;
   top: 0;
   left: -37px;
   width: 735px;
   height: 60%;
   background: linear-gradient(180deg, #6A369E 16.46%, rgba(106, 54, 158, 0.669576) 71.15%, rgba(106, 54, 158, 0) 100%);
   z-index: 0;
}

.challenge-title {
   padding-top: 67px;
   margin-bottom: 65px;
}

.challenge-subtitle {
   margin-bottom: 33px;
   font-weight: 400;
   font-size: 25px;
   line-height: 140%;
   color: #FFFFFF;
   position: relative;
   z-index: 1;
}





.prize-block {
   margin-bottom: 65px;
   position: relative;
   z-index: 1;
}

.prize-col {
   margin-bottom: 30px;
   display: flex;
}

.prize-item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   background: rgba(49, 41, 80, 0.7);
   backdrop-filter: blur(26px);
   transition: all 0.3s ease-in-out;
}

.position {
   margin-top: 26px;
   margin-left: 50px;
   font-family: 'Roboto Condensed', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   line-height: 140%;
   color: #CCB9DF;
   opacity: 0.5;
   min-height: 370px;
   position: relative;
   transition: all 0.3s ease-in-out;
}

.prize-item:hover {
   transform: translateY(-20px);
}

@media all and (max-width: 768px) { 
   .challenge-container { padding: 0 15px; }
}

@media all and (max-width: 720px) {
   .challenge-container::after { left: 0; width: 100%; }
}

@media all and (max-width: 600px) {
   .prize-col { max-width: 100%; flex: 0 0 100%; }
}